.connectionActivity {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.connectionActivity.closed {
    background-color: #94180a
}

.connectionActivity.disconnected {
    background-color: #94180a
}

.connectionActivity.connected {
    background-color: #0a940a;
}

.connectionActivity.connecting {
    background-color: #d8f70f;
}